
@use 'globals';

#task {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    padding: 1rem;
    #prompt {
        flex: initial;
        background: white;
        border: solid black 1px;
        border-radius: 2rem;
        //width: 20rem;
        padding: 1rem;
        margin: 1rem 0;
        font-size: 1rem;
        text-align: center;
        @media (min-width: globals.$desktop-break) {
            font-size: 1.25rem;
        }
    }
    #play-btn-wrapper {
        align-self: center;
        flex: initial;
        margin-bottom: 1rem;
        #play1-btn { margin-right: 0.5rem; }
        #play2-btn { margin-left: 0.5rem; }
    }
        #radio-set-wrapper {
            font-size: 1.5rem;
            background: globals.$dark-gray;
            color: white;
            border-radius: 1rem;
            padding: 0.5rem;
            margin-bottom: 1rem;
            .radio-wrapper {
                display: flex;
                align-items: center;
                color: black;
                border: solid 2px globals.$very-light-gray;
                padding: 0.5rem;
                margin: 0.25rem;
                border-radius: 1rem;
                flex: auto;
                label { flex: auto; text-align: center; }
                //&:nth-child(1) { background: #7fffaf; }
                //&:nth-child(2) { background: #7fffcf; }
                //&:nth-child(3) { background: #7fffff; }
                //&:nth-child(4) { background: #7fcfff; }
                //&:nth-child(5) { background: #7fafff; }
                &.selected {
                    background: yellow;
                    border: solid 2px black;
                }
            }
        }
        #star-set-wrapper {
            align-self: center;
            display: flex;
            font-size: 1.5rem;
            background: globals.$dark-gray;
            color: white;
            border-radius: 1rem;
            padding: 0.5rem;
            margin-bottom: 1rem;
            opacity: 0.5;
            &.enabled {
                opacity: 1.0;
                @media (hover: hover) {
                    .star-wrapper:hover { background: globals.$med-gray; }
                }
            }
            .star-wrapper {
                color: black;
                border: solid 2px globals.$very-light-gray;
                padding: 0.5rem;
                margin: 0.25rem;
                border-radius: 1rem;
                flex: auto;
                img {
                    display: block;
                    height: 1.25rem;
                    margin-left: auto;
                    margin-right: auto;
                    @media (min-width: globals.$desktop-break) {
                        height: 1.5rem;
                    }
                }
            }
        }
    }

#orth {
    font-size: 2rem;
    align-self: center;
}

#prompt { display: none; }
#show-prompt {
    display: none;
    align-self: center;
    margin: 1rem;
    background: globals.$dark-gray;
    color: globals.$light-gray;
    padding: 0 0.5rem;
    border-radius: 1rem;
    cursor: default;
    &:hover { background: globals.$med-gray; }
}

#rating-examples {
    padding-left: 1rem;
    background: globals.$dark-gray;
    color: white;
    border-radius: 1rem;
    align-self: center;
    padding: 0.5rem;
    .instr-star { height: 1rem; }
}

#turk-code {
    font-size: 2rem;
    margin-left: auto;
    margin-right: auto;
}
