
@use 'globals';

body {
    height: 100vh;
}

#exp-page-content {
    @media (min-width: globals.$desktop-break) {
        flex: auto;
        max-height: none;
        width: unset;
        align-self: stretch;
    }
}

#dboard {
    align-self: stretch;
    flex: auto;
    display: flex;
    flex-direction: column;
    #conn-status {
        color: globals.$dark-gray;
    }
    #inst-list-headers {
        display: grid;
        grid-template-columns: 3rem 2fr 2fr 2fr 2fr 4rem 2fr 6rem;
        text-align: center;
        font-weight: bold;
        div {
            margin: 0 0.25rem;
        }
    }
    #inst-list {
        flex: 1 1 0;
        display: flex;
        flex-direction: column;
        background: globals.$very-light-gray;
        margin: 0.5rem 0;
        overflow: scroll;
        #inst-data {
            flex: 1 1 auto;
            display: grid;
            grid-template-columns: 3rem 2fr 2fr 2fr 2fr 4rem 2fr 6rem;
            grid-auto-rows: min-content;
            gap: 0.25rem;
            padding: 0.25rem;
            border: solid 1px black;
            div {
                //margin: 0 0.25rem;
            }
            .dboard-header {
                font-weight: bold;
                text-align: center;
            }
            .dboard-item {
                padding: 0 0.25rem;
                background: white;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .dboard-id, .dboard-clientip, .dboard-profile,
            .dboard-state, .dboard-started {
                text-align: center;
            }
            .dboard-num, .dboard-task, .dboard-elapsed {
                text-align: right;
            }
            .dboard-sep {
                grid-column: 1 / -1;
                text-align: center;
            }
            .dboard-info-sep {
                @extend .dboard-sep;
                background: lightblue;
                color: black;
            }
            .dboard-warn-sep {
                @extend .dboard-sep;
                background: sandybrown;
                color: black;
            }
            .dboard-start-sep {
                @extend .dboard-info-sep;
            }
            .dboard-load-sep {
                @extend .dboard-info-sep;
            }
            .dboard-unload-sep {
                @extend .dboard-warn-sep;
            }
            .dboard-stop-sep {
                @extend .dboard-warn-sep;
            }
            .dboard-reload-sep {
                @extend .dboard-info-sep;
            }
            .dboard-profiles-sep {
                @extend .dboard-info-sep;
            }
            .dboard-end-sep {
                @extend .dboard-sep;
                background: globals.$bright-green;
                color: black;
            }
            .dboard-error-sep {
                @extend .dboard-sep;
                background: red;
                color: white;
            }
        }
    }
}

.exp-dlg {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    background: rgba(0, 0, 0, 0.0);
    &-filter {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        //z-index: 3;
        background: rgba(0, 0, 0, 0.5);
    }
    &-elements {
        background: lightgray;
        z-index: 1;
        //width: 60rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem;
        &-title {
            background: black;
            color: white;
            align-self: stretch;
            text-align: center;
            margin-bottom: 0.5rem;
        }
        &-buttons {
            padding: 0.5rem;
        }
    }
}
