// .gitignore
_ignore/

# Cache files  
.eslintcache
.npm
*.tsbuildinfo
__pycache__/

# Directories
## This is where the build process will output code.
build/
dist/
public/script/

*.map

## No external packages
node_modules/
__pypackages__

# Env files
## A good safeguard against accidentally publishing
##  private information, including security keys
.vscode/
.env.           
.env.test

# Logs
*.log logs npm-debug.log*

# Misc files
## experiments and references _ignore/        
## Macs often create this file
.DS_Store       

## Personal project notes, not my reference notes.md
profiles
runs
bundles
.pdm.toml
notes.org
