
{% extends "layout.html.jinja" %}

{% block page_content %}
    <div id="task-wrapper">
        <div id="task">
            All participant slots have already been filled.
            Thank you for your interest.
        </div>
    </div>
{% endblock %}
