{% extends "layout.html.jinja" %}

{% block script %}
    <script src="https://cdn.socket.io/3.1.1/socket.io.min.js"
            integrity="sha384-gDaozqUvc4HTgo8iZjwth73C6dDDeOJsAgpxBcMpZYztUfjHXpzrpdrHRdVp8ySO"
            crossorigin="anonymous"></script>
    <script type="module">
     document.getElementById('task-wrapper').scrollTo(0, 0);
     window.scrollTo(0, 0);

     import { Task } from '/{{ exp_js }}/task.js';

     const exper = '{{ exp_exper }}';
     const sid = '{{ exp_sid }}';
     //const urlPrefix = '{{ exp_url_prefix }}'
     //const expertStatic = `${urlPrefix}/static`
     //const expertJs = `${expertStatic}/js`

     //const task = new Task(
     //    {{ 'true' if _debug is defined else 'false' }})

     {% if task_script is defined %}
         {% if task_script.startswith('_') %}
             {% set jspath = exp_js %}
             {% set task_script = task_script[1:] %}
         {% else %}
             {% set jspath = exp_url_prefix + '/' + exp_exper + '/js' %}
         {% endif %}
         try {
             const mod = await import(
                 '/{{ jspath }}/task_{{ task_script }}.js');
             var task = new mod.taskClass();
             //await task.init(mod.initTask)
         } catch (error) {
             console.log('error importing script:', error);
         }
     {% else %}
         var task = new class extends Task {
             async reset() {
                 super.reset();
                 this.enableNext();
             }
         };
     {% endif %}
     await task.init();
    </script>
{% endblock %}

{% block page_content %}
    <div id="task-wrapper">
        {% block task_content %}{% endblock %}
    </div>
    <div id="exp-chin">
        <div id="exp-progbar" class="hidden">
            <div></div>
        </div>
        <div id="exp-nav-controls">
            {% if exp_tool_mode %}
                <div id="exp-prev-btn-wrapper">
                    <button type="button" id="exp-prev-btn" class="exp-nav-btn"
                            {{ '' if exp_tool_mode else 'disabled' }}
                            autocomplete="off">
                        <img src="/{{ exp_static }}/images/left_arrow.svg">
                        Prev
                    </button>
                </div>
                <div id="exp-task-cursor"></div>
            {% endif %}
            <div id="exp-next-btn-wrapper">
                <button type="button" id="exp-next-btn" class="exp-nav-btn"
                        {{ '' if exp_tool_mode else 'disabled' }}
                        autocomplete="off">
                    Next
                    <img src="/{{ exp_static }}/images/right_arrow.svg">
                </button>
            </div>
        </div>
    </div>
{% endblock %}
