
{% extends "task_base_layout.html.jinja" %}

{% set task_script = '_nonconsent' %}

{% block task_content %}
    <div id="task">
        <div>
            You have <b>declined</b> your consent to participate in this experiment.
        </div>
    </div>
{% endblock %}
