
{% extends "task_base_layout.html.jinja" %}

{% set task_script = '_thankyou' %}

{% block task_content %}
    <div id="task">
        <p>
            <strong>
                Thank you for your participation in this experiment!
            </strong>
        </p>
        {% if prolific_pid %}
            <p>
                To receive credit for your participation, please click
                the button below to return to Prolific.
            </p>
            <div id="pfic-redir-btn-wrapper">
                <button id="pfic-redir-btn" type="button">
                    Return to Prolific
                </button>
            </div>
        {% endif %}
    </div>
{% endblock %}
