{% extends "layout.html.jinja" %}

{% block exp_script %}
    <script type="module">
     //document.getElementById('task-content').scrollTo(0, 0)
     window.scrollTo(0, 0)
    </script>
    <script src="/socket.io-client"></script>
    <script src="/expert/js/dashboard.js" type="module"></script>
{% endblock %}

{% block exp_page_content %}
    <div id="dboard">

        <h2>EXPERt Dashboard [{{exp_version}}]
            <span id="conn-status">NOT CONNECTED</span>
        </h2>
        <div id="status">
            <span class="status-key">Bundle:</span>
            <span id="bundle-name">&lt;None&gt;</span>
            <span class="status-key">Run:</span>
            <span id="run-info"></span>
        </div>
        <div id="controls">
            <input type="file" id="file-input" class="exp-hidden"
            webkitdirectory multiple>
            <button type="button" id="upload-btn" disabled>
                Upload Bundle︎
            </button>
            <button type="button" id="load-btn" disabled>
                Load Bundle
            </button>
            <button type="button" id="new-run-btn" disabled>
                    {# {{'disabled' if exp_tool_mode else ''}}> #}
                Start New Run
            </button>
            <button type="button" id="reload-btn" disabled>
                Reload Bundle
            </button>
            <button type="button" id="profiles-btn" disabled>
                Rebuild Profiles
            </button>
            <button type="button" id="download-btn" disabled>
                Download Results
            </button>
            {#<button type="button" id="delete-btn">
                Delete Results
            </button>#}
            <button type="button" id="download-prof-btn" disabled>
                Download Profiles
            </button>
            <button type="button" id="download-id-btn" disabled>
                Download ID Mapping
            </button>
            <button type="button" id="delete-id-btn" disabled>
                Delete ID Mapping
            </button>
        </div>

        <div id="inst-list-header-bar">
            {% set headers = [
                '', 'ID', 'Client IP', 'Profile', 'State',
                'Task', 'Started', 'Elapsed'
            ] %}
            <div id="inst-list-headers">
                {% for header in headers -%}
                    <div class="dboard-header">{{ header }}</div>
                {%- endfor %}
            </div>
        </div>
        <div id="inst-list">
            <div id="inst-data"></div>
        </div>
    </div>
{% endblock %}
