
{% extends 'overlay.html.jinja' %}

{% block exp_overlay_content %}
    <div class="exp-dlg-title"></div>
    {% block exp_dlg_content %}
    {% endblock %}
    <div class="exp-dlg-buttons">
    </div>
{% endblock %}
