
{% extends "layout.html.jinja" %}

{% block exp_script %}
    <script type="module">
    </script>
{% endblock %}

{% block exp_page_content %}
    <div id="exp-error-content">
        <div id="exp-task">
            <h2>Error</h2>
            <div id="exp-error-msg">
                {{ msg }}
            </div>
        </div>
    </div>
{% endblock %}
