
{% extends "layout.html.jinja" %}

{% block exp_page_content %}
    <div id="exp-task-wrapper">
        <div id="exp-task">
            All participant slots have already been filled.
            Thank you for your interest.
        </div>
    </div>
{% endblock %}
