
{% extends "layout.html.jinja" %}

{% block exp_page_content %}
    <div id="exp-task-wrapper">
        <div id="exp-task">
            <h2>Survey Full</h2>
            <p>
                All participant slots have already been filled.
                Thank you for your interest.
            </p>
        </div>
    </div>
{% endblock %}
