<!doctype html>
<html lang="en">
    {#
    Deferred external scripts execute in the order they appear
    just before the document's DOMContentLoaded event, after the
    document has been loaded and parsed, but before other
    resources (images, CSS, etc.) have necessarily been loaded
    (use window.onload to detect that). Scripts of type "module"
    are automatically deferred.
    #}
    <head>
        <meta charset="utf-8">
        {#
        Render content using actual viewport width;
        by default, iOS renders at 980 px, then scales down
        #}
        <meta name="viewport" content="width=device-width">
        <title>{{ exp_window_title }}</title>

        <link rel="stylesheet" href="{{ exp_css }}/main.css">
        {% if exp_dashboard_path is defined %}
            <link rel="stylesheet" href="{{ exp_css}}/dboard.css">
        {% elif exp_app_name and exp_app_is_running %}
            <link rel="stylesheet" href="{{ exp_app_css }}/main.css">
        {% endif %}
        {% if exp_favicon is defined %}
            <link rel="icon" href="{{ exp_favicon }}">
        {% endif %}

        {% block exp_script %}{% endblock %}
    </head>

    <body>
        <div id="exp-main-wrapper">
            <div id="exp-page-content">
                {% block exp_page_content %}{% endblock %}
                <div id="exp-sidebar" class="exp-hidden">
                    <div id="exp-sidebar-content">
                        {% block exp_sidebar %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <div id="exp-vars" class="exp-hidden"
        {% for k, v in exp_vars.items() %}
            data-{{ k }}="{{ v }}"
        {% endfor %}
        {% if task_script is defined %}
            data-task_script="{{ task_script }}"
        {% endif %}
        ></div>
    </body>

</html>
