
{% extends "layout.html.jinja" %}

{% block exp_page_content %}
    <div id="exp-task-wrapper">
        <div id="exp-task">
            <h2>EXPERt</h2>
            Move along, nothing to see here.
        </div>
    </div>
{% endblock %}
