{% extends "layout.html.jinja" %}

{% block exp_script %}
    <script src="/{{ exp_url_prefix }}/socket.io-client"></script>
    <script src="/{{ exp_url_prefix }}/js/task_loader.js" type="module"></script>
{% endblock %}

{% block exp_page_content %}
    <div id="exp-task-wrapper">
        {% block exp_task_content %}{% endblock %}
    </div>
    <div id="exp-chin">
        <div id="exp-progbar" class="exp-hidden">
            <div></div>
        </div>
        {% if exp_tool_mode %}
            <div id="exp-nav-menu">
                <select id="exp-nav-menu-select">
                    <option>Go to ...</option>
                    {% for nav_item in exp_nav_items %}
                        <option>{{ nav_item }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}
        <div id="exp-nav-controls">
            {% if exp_tool_mode %}
                <div id="exp-prev-btn-wrapper">
                    <button type="button" id="exp-prev-btn" class="exp-nav-btn"
                            {{ '' if exp_tool_mode else 'disabled' }}
                            autocomplete="off">
                        <img src="{{ exp_img }}/left_arrow.svg">
                        Prev
                    </button>
                </div>
                <div id="exp-task-cursor"></div>
            {% endif %}
            <div id="exp-next-btn-wrapper">
                <button type="button" id="exp-next-btn" class="exp-nav-btn"
                        {{ '' if exp_tool_mode else 'disabled' }}
                        autocomplete="off">
                    Next
                    <img src="{{ exp_img }}/right_arrow.svg">
                </button>
            </div>
        </div>
        {% if exp_no_return_task is not defined  %}
            <div id="exp-return-wrapper">
                <button type="button" id="exp-return-btn">
                    Withdraw Participation
                </button>
            </div>
        {% endif %}
    </div>
{% endblock %}
