
{% extends "task_base_layout.html.jinja" %}

{% set task_script = '_thankyou' %}

{% block exp_task_content %}
    <div id="exp-task">
        <p>
            <strong>
                {% if exp_tool_mode %}
                    You have reached the end!
                {% else %}
                    Thank you for your participation!
                {% endif %}
            </strong>
        </p>
        {% if exp_prolific_pid %}
            <p>
                To receive credit for your participation, please click
                the button below to return to Prolific.
            </p>
            <div id="exp-pfic-redir-btn-wrapper">
                <button id="exp-pfic-redir-btn" type="button">
                    Return to Prolific
                </button>
            </div>
        {% endif %}
    </div>
{% endblock %}
