
{% extends "task_base_layout.html.jinja" %}

{% set task_script = '_qnaire' %}

{% macro quest_opts(idx, type, opts) %}
    {% for opt in opts if opt != ':opt' %}
        <div class="exp-qnaire-opt">
            {#
            input and label must be adjacent to avoid a text node in between
            #}
            {% set group = 'q{}'.format(idx) %}
            {% set optid = 'exp-qnaire-{}-{}'.format(group, loop.index) %}
            {# name attr is required for radio buttons #}
            <input type="{{ type }}" id="{{ optid }}" name="{{ group }}"
                   autocomplete="off"><label for="{{ optid }}">
                {{ opt }}
                   </label>
        </div>
    {% endfor %}
{% endmacro %}

{% block exp_task_content %}
    <div id="exp-qnaire">
        <div id="exp-qnaire-header">
            {% block exp_qnaire_header %}{% endblock %}
        </div>

        <div id="exp-qnaire-items">
            {% for q in exp_qnaire_questions %}
                <div class="qnaire-item"
                     id="exp-qnaire-item{{ loop.index }}"
                     data-type="{{ q[0] }}"
                     data-optional="{{ q[-1] == ':opt' }}">
                    <div class="exp-qnaire-q">
                        <span class="exp-qnaire-q-num">{{ loop.index }}.</span>
                        <span class="exp-qnaire-q-text">{{ q[1] }}</span>
                        {% if q[-1] == ':opt' %}
                            <span class="exp-qnaire-q-optional">
                                [Optional]
                            </span>
                        {% endif %}
                    </div>
                    <div class="exp-qnaire-a">
                        {% if q[0] in ('radio', 'checkbox') %}
                            {{ quest_opts(loop.index, q[0], q[2:]) }}
                        {% elif q[0] == 'shorttext' %}
                            <input type="text">
                        {% elif q[0] == 'text' %}
                            <textarea rows="5" cols="30"></textarea>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
