
{% extends "task_base_layout.html.jinja" %}

{% set task_script = '_incomplete' %}

{% block exp_task_content %}
    <div id="exp-task">
        The time allotted for this experiment has expired.
    </div>
{% endblock %}
