
{% extends "task_base_layout.html.jinja" %}

{% set task_script = '_consent' %}

{% block exp_task_content %}
    <div id="exp-consent">
        <div id="exp-consent-form">
            {% block exp_consent_form %}{% endblock %}
        </div>
        <div id="exp-consent-agree-box">
            <div class="exp-consent-agree-radio-wrapper">
                <input type="radio" name="radio" id="exp-consent-radio1"
                       autocomplete="off">
                <label for="exp-consent-radio1">I agree</label>
            </div>
            <div class="exp-consent-agree-radio-wrapper">
                <input type="radio" name="radio" id="exp-consent-radio2"
                       autocomplete="off">
                <label for="exp-consent-radio2">I do not agree</label>
            </div>
        </div>
    </div>
{% endblock %}
