
{% extends "task_base_layout.html.jinja" %}

{% set task_script = '_incomplete' %}

{% block exp_task_content %}
    <div id="exp-task">
        This session has been ended by the administrator.
    </div>
{% endblock %}
