
{% extends "task_base_layout.html.jinja" %}

{% set task_script = '_consent' %}

{% block task_content %}
    <div id="consent">
        <div id="consent-form">
            {% block consent_form %}{% endblock %}
        </div>
        <div id="consent-agree-box">
            <div class="agree-radio-wrapper">
                <input type="radio" name="radio" id="radio1"
                       autocomplete="off">
                <label for="radio1">I agree</label>
            </div>
            <div class="agree-radio-wrapper">
                <input type="radio" name="radio" id="radio2"
                       autocomplete="off">
                <label for="radio2">I do not agree</label>
            </div>
        </div>
    </div>
{% endblock %}
