
{% extends "task_base_layout.html.jinja" %}

{% set task_script = '_incomplete' %}

{% block exp_task_content %}
    <div id="exp-task">
        <h2>Timed Out</h2>
        <p>
            The time allotted for this survey has expired.
        </p>
    </div>
{% endblock %}
