
{% extends 'dialog.html.jinja' %}

{% block exp_dlg_content %}
    <div class="exp-dlg-upload-wrapper">
        <input type="file" class="exp-dlg-upload-input" webkitdirectory multiple>
        <button type="button" class="exp-dlg-upload-btn" disabled>
            Upload
        </button>
    </div>
{% endblock %}
