.exp-hidden {
  display: none !important;
}

body {
  display: flex;
  align-items: stretch;
  justify-content: center;
  margin: 0;
  height: 100vh;
  background: #4b9cd3;
  font-family: arial;
  font-size: 10pt;
}

#exp-main-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#exp-page-content {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: #d1d1d1;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem;
  line-height: 1.5;
  max-height: calc(100% - 4rem);
  width: calc(100% - 4rem);
}
@media (min-width: 48em) {
  #exp-page-content {
    width: 40rem;
    height: auto;
  }
}
#exp-page-content .exp-guide {
  background: #77ff77 !important;
}
#exp-page-content button {
  display: inline-flex;
  align-items: center;
  background: #d1d1d1;
}

#exp-task-wrapper, #exp-error-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1 1 0;
  background: #F1F1F1;
  padding: 0rem;
  overflow: scroll;
}

#exp-chin {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}
#exp-chin #exp-progbar {
  align-self: stretch;
  margin-top: 0.5rem;
  background: #a1a1a1;
  border: solid 1px black;
}
#exp-chin #exp-progbar div {
  height: 0.5rem;
  width: 0%;
  background: #77ff77;
}
#exp-chin #exp-nav-menu {
  margin: 0.5rem;
}
#exp-chin #exp-nav-controls {
  display: flex;
  align-items: center;
  margin: 0.5rem;
  /*#exp-next-btn-wrapper {
     display: flex;
     justify-content: center;
     flex: auto; //initial;
     margin: 1rem;
     }*/
}
#exp-chin #exp-nav-controls .exp-nav-btn {
  font-size: 1.5rem;
  border-radius: 1rem;
  border: solid black 1px;
  background: #F1F1F1;
  padding: 0.25rem 1rem;
}
#exp-chin #exp-nav-controls .exp-nav-btn img {
  height: 1.5rem;
  vertical-align: text-bottom;
}
#exp-chin #exp-nav-controls .exp-nav-btn:disabled {
  opacity: 0.35;
}
#exp-chin #exp-nav-controls #exp-task-cursor {
  margin: 0 0.5rem;
  background: #ffff7f;
  width: 4rem;
  text-align: center;
}

#exp-sidebar {
  position: absolute;
  right: -17rem;
  top: 10rem;
  width: 14rem;
  bottom: 10rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: #d1d1d1;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0;
}
#exp-sidebar #exp-sidebar-content {
  flex: auto;
  background: #F1F1F1;
  padding: 0.5rem;
  overflow: scroll;
  border: solid 1px black;
}

#exp-task, #exp-consent, #exp-qnaire, #exp-soundcheck {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  padding: 1rem;
}
#exp-task h1, #exp-consent h1, #exp-qnaire h1, #exp-soundcheck h1 {
  text-align: center;
}
#exp-task h2, #exp-consent h2, #exp-qnaire h2, #exp-soundcheck h2 {
  text-align: center;
}
#exp-task .play-btn, #exp-consent .play-btn, #exp-qnaire .play-btn, #exp-soundcheck .play-btn {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
#exp-task .play-btn img, #exp-consent .play-btn img, #exp-qnaire .play-btn img, #exp-soundcheck .play-btn img {
  height: 2rem;
}
#exp-task .play-btn.small, #exp-consent .play-btn.small, #exp-qnaire .play-btn.small, #exp-soundcheck .play-btn.small {
  font-size: 1rem;
}
#exp-task .play-btn.small img, #exp-consent .play-btn.small img, #exp-qnaire .play-btn.small img, #exp-soundcheck .play-btn.small img {
  height: 1rem;
}
#exp-task .play-btn.selected, #exp-consent .play-btn.selected, #exp-qnaire .play-btn.selected, #exp-soundcheck .play-btn.selected {
  background: yellow;
}
#exp-task .play-btn:disabled img, #exp-consent .play-btn:disabled img, #exp-qnaire .play-btn:disabled img, #exp-soundcheck .play-btn:disabled img {
  opacity: 0.5;
}

#exp-soundcheck {
  align-items: center;
}
#exp-soundcheck-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#exp-soundcheck-player {
  width: 10rem;
}
#exp-soundcheck-response-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #767676;
  color: white;
  padding: 0.5rem;
  margin-top: 1rem;
}
#exp-soundcheck-input {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0.5rem;
}
#exp-soundcheck-prompt {
  flex: auto;
  text-align: center;
  padding: 0 0.5rem;
}
#exp-soundcheck-submit-btn-wrapper {
  padding: 0.5rem;
}
#exp-soundcheck-correct-msg {
  display: none;
  background: #77ff77;
  color: black;
  padding: 0.5rem;
}
#exp-soundcheck-format-error {
  display: none;
  background: red;
  color: white;
  padding: 0.5rem;
}

#exp-qnaire-header {
  padding: 0.5rem;
}
#exp-qnaire-items {
  padding: 0.5rem;
}
#exp-qnaire-items .exp-qnaire-item {
  align-self: flex-start;
  margin-bottom: 0.5rem;
}
#exp-qnaire-items .exp-qnaire-item .exp-qnaire-q-num {
  font-weight: bold;
}
#exp-qnaire-items .exp-qnaire-item .exp-qnaire-q-optional {
  font-weight: bold;
  font-style: italic;
}
#exp-qnaire-items .exp-qnaire-item .exp-qnaire-a {
  margin-left: 0.5rem;
}

#exp-consent-form #exp-consent-header .exp-consent-field {
  font-weight: bold;
}
#exp-consent-agree-box {
  display: flex;
  align-self: stretch;
  background: #d1d1d1;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
}
#exp-consent-agree-box .exp-consent-agree-radio-wrapper {
  display: flex;
  padding: 0.5rem;
  flex: auto;
}

#exp-pfic-redir-btn-wrapper {
  text-align: center;
}

.exp-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  background: rgba(0, 0, 0, 0);
}
.exp-overlay-filter {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.exp-overlay-content {
  background: lightgray;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}

.exp-dlg-title {
  background: black;
  color: white;
  align-self: stretch;
  text-align: center;
  padding: 0.25rem;
  margin-bottom: 0.5rem;
}

.exp-dlg-message {
  padding: 0.5rem;
}

.exp-dlg-download-select-wrapper {
  padding: 0.5rem;
}

.exp-dlg-buttons {
  padding: 0.5rem;
}

.exp-dlg-traceback-text {
  max-height: 10rem;
  background: white;
  padding: 0.5rem;
  overflow: scroll;
}

/*# sourceMappingURL=main.css.map */
