.hidden {
  display: none !important;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: #4b9cd3;
  font-family: arial;
  font-size: 10pt;
}

#page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #d1d1d1;
  padding: 1rem;
  margin: 1rem;
  line-height: 1.5;
  width: calc(100% - 4rem);
  max-height: calc(100vh - 4rem);
}
@media (min-width: 48em) {
  #page-content {
    width: 40rem;
    height: auto;
    max-height: 40rem;
  }
}
#page-content .guide {
  background: #77ff77;
}
#page-content button {
  display: inline-flex;
  align-items: center;
  background: #d1d1d1;
}

#task-wrapper, #error-content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: auto;
  background: #F1F1F1;
  padding: 0rem;
  overflow: scroll;
}

#exp-chin {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}
#exp-chin #exp-progbar {
  align-self: stretch;
  margin-top: 0.5rem;
  background: #a1a1a1;
  border: solid 1px black;
}
#exp-chin #exp-progbar div {
  height: 0.5rem;
  width: 0%;
  background: #77ff77;
}
#exp-chin #exp-nav-controls {
  display: flex;
  align-items: center;
  margin: 1rem;
  /*#exp-next-btn-wrapper {
      display: flex;
      justify-content: center;
      flex: auto; //initial;
      margin: 1rem;
  }*/
}
#exp-chin #exp-nav-controls .exp-nav-btn {
  font-size: 1.5rem;
}
#exp-chin #exp-nav-controls .exp-nav-btn img {
  height: 1.5rem;
  vertical-align: text-bottom;
}
#exp-chin #exp-nav-controls .exp-nav-btn:disabled img {
  opacity: 0.5;
}
#exp-chin #exp-nav-controls #exp-task-cursor {
  margin: 0 0.5rem;
  background: #ffff7f;
  width: 4rem;
  text-align: center;
}

#task, #consent, #qnaire, #soundcheck {
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  padding: 1rem;
}
#task h1, #consent h1, #qnaire h1, #soundcheck h1 {
  text-align: center;
}
#task h2, #consent h2, #qnaire h2, #soundcheck h2 {
  text-align: center;
}
#task .play-btn, #consent .play-btn, #qnaire .play-btn, #soundcheck .play-btn {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
#task .play-btn img, #consent .play-btn img, #qnaire .play-btn img, #soundcheck .play-btn img {
  height: 2rem;
}
#task .play-btn.small, #consent .play-btn.small, #qnaire .play-btn.small, #soundcheck .play-btn.small {
  font-size: 1rem;
}
#task .play-btn.small img, #consent .play-btn.small img, #qnaire .play-btn.small img, #soundcheck .play-btn.small img {
  height: 1rem;
}
#task .play-btn.selected, #consent .play-btn.selected, #qnaire .play-btn.selected, #soundcheck .play-btn.selected {
  background: yellow;
}
#task .play-btn:disabled img, #consent .play-btn:disabled img, #qnaire .play-btn:disabled img, #soundcheck .play-btn:disabled img {
  opacity: 0.5;
}

#soundcheck {
  align-items: center;
}
#soundcheck-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#soundcheck-player {
  width: 10rem;
}
#soundcheck-response-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #767676;
  color: white;
  padding: 0.5rem;
  margin-top: 1rem;
}
#soundcheck-input {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0.5rem;
}
#soundcheck-prompt {
  flex: auto;
  text-align: center;
  padding: 0 0.5rem;
}
#soundcheck-submit-btn-wrapper {
  padding: 0.5rem;
}
#soundcheck-correct-msg {
  display: none;
  background: #77ff77;
  color: black;
  padding: 0.5rem;
}
#soundcheck-format-error {
  display: none;
  background: red;
  color: white;
  padding: 0.5rem;
}

#qnaire-header {
  padding: 0.5rem;
}
#qnaire-items {
  padding: 0.5rem;
}
#qnaire-items .qnaire-item {
  align-self: flex-start;
  margin-bottom: 0.5rem;
}
#qnaire-items .qnaire-item .qnaire-q-num {
  font-weight: bold;
}
#qnaire-items .qnaire-item .qnaire-q-optional {
  font-weight: bold;
  font-style: italic;
}
#qnaire-items .qnaire-item .qnaire-a {
  margin-left: 0.5rem;
}

#consent-form #header .field {
  font-weight: bold;
}
#consent-agree-box {
  display: flex;
  align-self: stretch;
  background: #d1d1d1;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
}
#consent-agree-box .agree-radio-wrapper {
  display: flex;
  padding: 0.5rem;
  flex: auto;
}

#pfic-redir-btn-wrapper {
  text-align: center;
}

#exp-dboard {
  overflow: scroll;
}
#exp-dboard-subjids {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
}
#exp-dboard-subjids div {
  margin: 0 0.25rem;
}
#exp-dboard-subjids .exp-dboard-header {
  font-weight: bold;
  text-align: center;
}
#exp-dboard-subjids .exp-dboard-item {
  padding: 0 0.25rem;
  background: white;
}
#exp-dboard-subjids .dboard-id, #exp-dboard-subjids .dboard-clientip, #exp-dboard-subjids .dboard-profile, #exp-dboard-subjids .dboard-state, #exp-dboard-subjids .dboard-started {
  text-align: center;
}
#exp-dboard-subjids .dboard-num, #exp-dboard-subjids .dboard-comp, #exp-dboard-subjids .dboard-elapsed {
  text-align: right;
}

.exp-dlg {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  background: rgba(0, 0, 0, 0);
}
.exp-dlg-filter {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.exp-dlg-elements {
  background: lightgray;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}
.exp-dlg-elements-title {
  background: black;
  color: white;
  align-self: stretch;
  text-align: center;
  margin-bottom: 0.5rem;
}
.exp-dlg-elements-buttons {
  padding: 0.5rem;
}

/*# sourceMappingURL=main.css.map */
