
{% extends "task_base_layout.html.jinja" %}

{% block task_content %}
    <div id="task">
        <h1>Introduction</h1>
        <p>
            <strong>Welcome!</strong> In this experiment, you will listen to
            <strong>nonsense words</strong> that are similar to real words
            of English and <strong>assign ratings</strong> to them.
        </p>
        <p>
            You may take part in the experiment using a computer,
            phone, or tablet. The experiment requires a recent version
            of any of the popular web browsers. <strong>Headphones are
            recommended</strong> in order to clearly hear the audio.
            <br>
            To participate and <strong>receive payment</strong>,
            you <strong>must</strong>:
        </p>
        <ul>
            <li>be <strong>at least 18 years old</strong></li>
            <li>speak <strong>English</strong> as your first language</li>
            <li>have <strong>no diagnosed hearing disorders</strong></li>
        </ul>
        <p>
            If you do not meet all of these requirements, you are
            <strong>not eligible</strong> to participate in this experiment.
        </p>
        <p>
            Additionally, if there is evidence that your responses to the
            questions are random, or that you have participated more than once,
            you <strong>will not receive payment</strong>.
        </p>
        <p>
            If you are interested in
            participating, click the <strong>Next</strong> button
            below to complete the required consent form.
        </p>
    </div>
{% endblock %}
