
{% extends "task_base_consent.html.jinja" %}

{% block consent_form %}
    <div id="header">
        <h1>Consent for Participation</h1>
        <p>
            University of North Carolina at Chapel Hill<br>
            Consent to Participate in a Research Study<br>
            Adult Participants<br>
        </p>

        <p>
            <span class="field">Consent Form Version Date:</span>
            6/22/2020<br> 
            <span class="field">IRB Study #</span>20-0149 <br>
            <span class="field">Title of Study:</span>
            Nonsense word acceptability judgment study <br>
            <span class="field">Principal Investigator:</span>
            Joshua Fennell <br>
            <span class="field">Principal Investigator Department:</span>
            Linguistics <br>
            <span class="field">Principal Investigator Phone number:</span>
            (919) 389-6798 <br>
            <span class="field">Principal Investigator Email Address:</span>
            jfnl@live.unc.edu <br>
            <span class="field">Faculty Advisor:</span>
            Dr. Katya Pertsova <br>
            <span class="field">Faculty Advisor Contact Information:</span>
            pertsova@email.unc.edu<br>
            <span class="field">Funding Source and/or Sponsor: </span><br>
            <span class="field">Study Contact Telephone Number:</span>
            (919) 389-6798 <br>
            <span class="field">Study Contact Email:</span>
            jfnl@live.unc.edu <br>
        </p>
    </div>
    <div id="summary">
        <h2>Experiment summary</h2>
        The purpose of this study is to investigate how people process
        language.<br>
        Participants in the study will be asked to take part in a short
        (approximately 20 minutes), one-time online language experiment.
        Participants must be <b>native speakers of English</b> of
        <b>age 18 or older</b>, with no significant hearing impairment or
        other issues that would prevent them from taking part in an
        experiment involving listening. General demographic information
        will be collected from participants, but no personally identifying
        information will be collected. Although the study team has taken
        precautions to protect your information, there is always the risk
        of a breach of confidentiality.<br>
        If you are interested in learning more about this study, please
        continue reading below.
    </div>
    <div class="qanda">
        <h2>
            What are some general things you should know about
            research studies?
        </h2> 
        You are being asked to take part in a research study. To join the
        study is voluntary. You may choose not to participate, or you may
        withdraw your consent to be in the study, for any reason, without
        penalty.<br><br>  

        Research studies are designed to obtain new knowledge. This new
        information may help people in the future. You may not receive any
        direct benefit from being in the research study. There also may be
        risks to being in research studies.<br><br>

        Deciding not to be in the study or leaving the study before it is
        done will not affect your relationship with the researcher, your
        health care provider, or the University of North Carolina-Chapel
        Hill. If you are a patient with an illness, you do not have to be
        in the research study in order to receive health care.<br><br>

        Details about this study are discussed below. It is important that
        you understand this information so that you can make an informed
        choice about being in this research study.<br><br>  

        You may print this consent form for your reference. You should ask
        the researchers named above, or staff members who may assist them,
        any questions you have about this study at any time.
    </div>
    <div class="qanda">
        <h2>What is the purpose of this study?</h2> 
        The purpose of this research study is to investigate the nature of
        how people mentally process the “acceptability” of nonsense words
        (that is, how much a nonsense word “feels like” it could be an
        actual word). The way in which people process such nonsense words
        may have bearing on how people process real words.  
    </div>
    <div class="qanda">
        <h2>Are there any reasons you should not be in this study?</h2> 
        You should not be in this study if you are not a native speaker of
        English, under the age of 18, or have significant hearing impairment
        or other issues that would prevent you from taking part in an
        experiment involving listening. 
    </div>
    <div class="qanda">
        <h2>How many people will take part in this study?</h2> 
        Approximately 100 people on Amazon Mechanical Turk will take
        part in this study.
    </div>
    <div class="qanda">
        <h2>How long will your part in this study last?</h2> 
        The study consists of a one-time, online experiment that should
        take approximately 20 minutes to complete. Your involvement in
        the study ends once you have completed the experiment. 
    </div>
    <div class="qanda">
        <h2>What will happen if you take part in the study?</h2> 
        You will be asked to take part in a brief, one-time online language
        experiment. The experiment consists of listening to nonsense words
        that sound like they could be words of English, and assigning
        ratings indicating how English-like you think they sound. After the
        experiment is complete, you will be asked to answer a few questions
        about how you approached the experimental task; you may choose not
        to answer any question for any reason.
    </div>
    <div class="qanda">
        <h2>What are the possible benefits from being in this study?</h2> 
        Research is designed to benefit society by gaining new knowledge.
        You will not benefit personally from being in this research study.
    </div>
    <div class="qanda">
        <h2>What are the possible risks or discomforts involved from being
            in this study?</h2> 
        There are no known risks for taking part in this study. Although the
        study team has taken precautions to protect your information, there
        is always the risk of a breach of confidentiality.
    </div>
    <div class="qanda">
        <h2>How will information about you be protected?</h2> 
        If you choose to participate in this study, before the experiment
        begins, you will be presented with a brief demographic questionnaire
        designed to determine your eligibility to take part in the study;
        however, no personally identifying information will be collected on
        this questionnaire or in any other part of this study. Your ratings
        of the nonsense words you hear during the experiment will be stored
        for an indefinite period of time after you have completed the
        experiment, but will be identified only by a randomly-generated
        code. 
    </div>
    <div class="qanda">
        <h2>What will happen if you are injured by this research?</h2> 
        All research involves a chance that something bad might happen to
        you.
        If you are hurt, become sick, or develop a reaction from something
        that was done as part of this study, the researcher will help you
        get medical care, but the University of North Carolina at Chapel
        Hill has not set aside funds to pay you for any such injuries,
        illnesses or reactions, or for the related medical care. Any costs
        for medical expenses will be billed to you or your insurance
        company. You may be responsible for any co-payments and your
        insurance may not cover the costs of study related injuries.<br><br>

        If you think you have been injured from taking part in this study,
        call the Principal Investigator at the phone number provided on this
        consent form. They will let you know what you should do.<br><br>

        By signing this form, you do not give up your right to seek payment
        or other rights if you are harmed as a result of being in this
        study.
    </div>
    <div class="qanda">
        <h2>What if you want to stop before your part in the study is
            complete?</h2> 
        You can end your participation in the experiment at any time,
        without penalty. The investigators also have the right to stop your
        participation at any time.<br><br>

        If you withdraw or are withdrawn from this study all data collected
        up until the point of withdrawal will be retained; however no
        additional information will be collected unless you provide
        additional written permission for further data collection at the
        time of your withdrawal.
    </div>
    <div class="qanda">
        <h2>Will you receive anything for being in this study?</h2> 
        Provided you complete the entirety of the experiment, you will
        receive a payment of $1.50 USD as compensation for taking part in
        this study. Any payment provided for participation in this study
        may be subject to applicable tax withholding obligations.
    </div>
    <div class="qanda">
        <h2>Will it cost you anything to be in this study?</h2> 
        It will not cost you anything to be in this study.
    </div>
    <div class="qanda">
        <h2>What if you are a UNC student?</h2> 
        You may choose not to be in the study or to stop being in the
        study before it is over at any time. This will not affect your
        class standing or grades at UNC-Chapel Hill. You will not be
        offered or receive any special consideration if you take part in
        this research.
    </div>
    <div class="qanda">
        <h2>What if you are a UNC employee?</h2> 
        Taking part in this research is not a part of your University
        duties, and refusing will not affect your job. You will not be
        offered or receive any special job-related consideration if you
        take part in this research.
    </div>
    <div class="qanda">
        <h2>Who is sponsoring this study?</h2>
        This research is funded as part of the National Science Foundation
        (NSF) grant BCS 1651105 titled "Inside Phonological Learning".
    </div>
    <div class="qanda">
        <h2>What if you have questions about this study?</h2> 
        You have the right to ask, and have answered, any questions you may
        have about this research. If you have questions about the study
        (including payments), complaints, concerns, or if a research-related
        injury occurs, you should contact the researchers listed on the
        first page of this form. 
    </div>
    <div class="qanda">
        <h2>What if you have questions about your rights as a research
            participant?</h2> 
        All research on human volunteers is reviewed by a committee that
        works to protect your rights and welfare. If you have questions
        or concerns about your rights as a research subject, or if you
        would like to obtain information or offer input, you may contact
        the Institutional Review Board at 919-966-3113 or by email to
        IRB_subjects@unc.edu. 
    </div>
    <div id="agreement">
        <h2>Participant’s Agreement:</h2>
        By selecting, “I agree,” I have read the information provided and
        I voluntarily agree to participate in this research study.
    </div>
{% endblock %}
