
{% extends "task_base_layout.html.jinja" %}

{% block task_content %}
    <div id="task">
        <h2>Instructions for Part 2</h2>
        <p>
            You have completed the practice section, and are now ready
            to move on to the main part of the experiment. This part
            of the experiment works exactly the same as the practice section.
        </p>
        <p>
            Once you begin, you will have exactly <b>20 minutes</b>
            to complete the experiment, and it should take less time
            if you work quickly.
        </p>
        <p>
            When you're ready to begin, click <b>Next</b>.
        </p>
    </div>
{% endblock %}
