
{% extends "task_base_layout.html.jinja" %}

{% block task_content %}
    <div id="task">
        <p>
            On the following screen, you will be asked to complete a brief
            demographic questionnaire. No personally identifying information
            will be collected. Click <b>Next</b> to proceed to the
            questionnaire.
        </p>
    </div>
{% endblock %}
