
import { elt } from '/{{ exp_js }}/util.js'

const agreeBox = elt('consent-agree-box')
const radio1 = elt('radio1')
const radio2 = elt('radio2')

export function initTask(task) {
    task.disableNext()

    task.guide(agreeBox)

    radio1.onclick = () => {
        task.setResponse('consent_given')
        task.enableNext()
    }
    radio2.onclick = () => {
        task.setResponse('consent_declined')
        task.enableNext()
    }
}
