
import { elts } from '{{ exp_js }}/util.js';
import { Task } from '{{ exp_js }}/task.js';

const dom = elts('consent-agree-box', 'radio1', 'radio2');

class ConsentTask extends Task {

    async reset() {
        await super.reset();
        this.disableNext();

        this.guide(dom['consent-agree-box']);

        dom['radio1'].addEventListener('click', () => {
            this.setResponse('consent_given');
            this.enableNext();
        });
        dom['radio2'].addEventListener('click', () => {
            this.setResponse('consent_declined');
            this.enableNext();
        });
    }
}

export { ConsentTask as taskClass };
