
export function elt(id) {
    return document.getElementById(id);
}

export function elts(...ids) {
    const dom = {};
    for (const id of ids) {
        dom[id] = document.getElementById(id);
    }
    return dom;
}

export async function callApi(socket, ...params) {
    const p = new Promise(resolve => {
        socket.emit('call_api', ...params, resp => {
            resolve(resp);
        });
    })
    return p;
}

export function aPlay(sound) {
    return new Promise((resolve, reject) => {
        const onended = () => {
            sound.removeEventListener('ended', onended);
            resolve();
        }
        sound.addEventListener('ended', onended);
        sound.play();
    });
}

export function aSleep(ms) {
    return new Promise((resolve, reject) => {
        setTimeout(resolve, ms);
    });
}
